.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_search {
    display: flex;
    flex: 1;
}


.header_inputBox {
    height: 14px;
    padding: 17px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    background-color: #cd9042;
    height: 2.15rem !important;
    width: 2rem !important;
    padding: 2px;
}

input:focus {
    outline: none;
}

.header_right {
    display: flex;
    justify-content: space-evenly;

}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right:10px;
}

.header_option1 {
    font-size: 10px;
}

.header_option2 {
    font-size: 13px;
    font-weight: 800;
}

.header_link span{
    color: azure;
    text-decoration: none;
}
.header_optionCart{
    display: flex;
    align-items:center;
}
.header_cartCount{
    margin-left: 5px;
    margin-right:15px;
}
