*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.subtotal{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal >button{
    background:#f0c14b;
    border-radius:2px;
    width: 100%;
    border:1px solid burlywood;
}